p {
    color: black;
}
.overlayStyles {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.374); 
    z-index: 1000;
    .windowStyles {
        position: absolute;
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        z-index: 1001, // окно поверх overlay
    }
    .container {
        display: flex;
        flex-direction: column;
        .filterValues {
            display: flex;
            overflow: auto;
            
            .filterValue {
                background-color: rgb(79, 156, 204);
                margin: 7px;
                border-radius: 10px;
                transition: all .5s;
                cursor: pointer;
                &:hover {
                    background-color: rgb(45, 93, 123);
                }
                p {
                    color:black;
                    margin: 7px 10px;
                }
                
            }
            .filterValueChecked {
                background-color: rgb(92, 38, 36);
            }
        }
    }
    
}
